*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    height: 100vh;
}

/* HEADER */
.header {
    background-color: #1e293b;
    color: #fff;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header button {
    background: #ef4444;
    border: none;
    color: #fff;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

/*CONTAINER*/
.container {
    display: flex;
    height: calc(100vh - 70px);
}

/*PROJETOS*/
.projects {
    width: 220px;
    background: #fff;
    border-right: 1px solid #ddd;
    padding: 20px;
}

.projects ul {
    list-style: 10px;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 4px;
}

.projects li:hover,
.projects .active {
    background-color: #e2e8f0;
}

.project-list li.active {
    font-weight: bold;
}


/*KANBAN */
.kanban {
    flex: 1;
    display: flex;
    gap: 20px;
    padding: 20px;
    overflow-x: auto;
}

.column {
    background: #e5e7eb;
    border-radius: 8px;
    padding: 15px;
    width: 300px;
    flex-shrink: 0;
}

.column h3 {
    margin-bottom: 15px;

}

/* CARD */
.card {
    background: #fff;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
    cursor: pointer;
}
